main.deck {
  margin-top: 50px;
}
main.deck .deck__loading {
  position: relative;
  height: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  will-change: height, opacity;
}
main.deck .deck__loading.active {
  height: 40px;
  opacity: 1;
}
main.deck .deck__loading .spinner {
  position: absolute;
  top: 20px;
  left: calc(50% - 16px);
}