.container-lg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 100vh;
    padding: 30px 0;
    color: #FFF;

    .poster {
        padding: 20px;
    }

    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 150px 0;
    }

    .empty-state {
        padding: 50px 0;
        text-align: center;
        line-height: 2;
    }

    @media(min-width: 320px) {
        padding-left: 15px;
        padding-right: 15px;

        .poster {
            margin: 0;
        }
    }

    @media(min-width: 768px) {
        .poster {
            padding: 0;
            margin: 20px;
        }
    }
}
