.page-topper {
    position: relative;
    min-height: 150px;
    padding: 90px 0 35px;

    &--banner {
        min-height: 300px;
    }

    .page-topper__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-size: cover;
        background-position: center 25%;

        &.repeat {
            background-size: 240px 240px;
        }
        &.blur {
            opacity: .3;
            filter: blur(4px);
        }
    }

    h2 {
        padding: 0 45px;
        text-transform: uppercase;
    }
}
