.navbar {
    position: fixed;
    z-index: 1500;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    background: rgba(0, 0, 0, 0.6);
    transition: background 0.5s;

    &:hover {
        background: rgba(0, 0, 0, 0.9);
    }

    .logo {
        position: absolute;
        left: 50%;
        margin: 6px 0 0 -32.5px;

        img {
            height: 65px;
        }

        .bottom-wrapper {
            position: absolute;
            z-index: -1;
            bottom: 3px;
            overflow: hidden;
            width: 65px;
            height: 22px;

            .bottom {
                position: absolute;
                bottom: 1px;
                left: 1px;
                background: rgba(0, 0, 0, 0.6);
                width: 63px;
                height: 63px;
                border-radius: 50%;
            }
        }
    }

    .nav {
        position: absolute;
        padding-left: 0;
        list-style: none;

        &.nav--left {
            right: 50%;
            margin-right: 40px;
        }
        &.nav--right {
            left: 50%;
            margin-left: 40px;
        }

        li {
            position: relative;
            float: left;

            a {
                display: block;
                padding: 15px 20px;
                font-size: 14px;
                font-weight: 200;
                line-height: 20px;
                text-decoration: none;
                color: #FFF;

                &:hover, &:focus {
                    color: #ED1C24;
                }
            }
        }
    }
}
