.app-header {
  background-color: #111;
  color: #FFF;
}

.app-header nav {
  position: absolute;
  right: 50%;
}
.app-header .nav-left {
  margin-right: 40px;
}
.app-header .nav-right {
  margin-left: 40px;
}

.app-logo {
  position: absolute;
  left: 50%;
  margin: 6px 0 0 -32.5px;
}
.app-logo img {
  height: 65px;
}
